@font-face{
    font-family:"dutch-801-roman-headline-bt-1";
    src:url("https://candyfonts.com/wp-data/2019/04/29/52842/Dut801na.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2019/04/29/52842/Dut801na.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2019/04/29/52842/Dut801na.ttf") format("truetype");
}

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: "dutch-801-roman-headline-bt-1"!important;
    color: #463F3A;
}

#h-logo{
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s linear;
}

#h-logo:hover{
    transform: scale(0.95);
}

img{
    width: 100px;
}

/* MENU */

nav{
    background-color: #F4F3EE!important;
    position: fixed!important;
    width: 100%;
    z-index: 3;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 5px 15px ;
    padding: 1px 7px!important;
    text-align: center;
    font-size: 27px!important;
    letter-spacing: 1px;
    text-decoration: none;
    color: #463F3A;
    background: #463F3A;
    border: none;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    border-radius: 0px!important;
}

.btn.btn-slide-9 {
    box-shadow: inset 0 0 0 0 #463F3A;
}

.btn.btn-slide-9:hover {
    color: #463F3A;
    box-shadow: inset 0 0 0 0 #463F3A;
}

.btn.btn-border-9 {
    padding: 8px 20px;
    color: #463F3A;
    background: transparent;
    border: 1px solid #463F3A;
    transition: .2s linear ;
}

.btn.btn-border-9::after,
.btn.btn-border-9::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-9::after {
    top: -6px;
    left: -6px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.btn.btn-border-9::before {
    bottom: -6px;
    right: -6px;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

.btn.btn-border-9:hover {
    color: #463F3A;
    transform: scale(0.95);
}

.btn.btn-border-9:hover::after,
.btn.btn-border-9:hover::before {
    width: 40%;
    height: 20px;
    border-color: #463F3A;
}

/* BURGER */

#burger{
    margin-left: 90%;
    margin-right: 10px!important;
    border: none;
    
}

#burger span{
    background-color: #F4F3EE!important;
}

#burger:active{
    border: none;
}

/* BANNER */

#headercontent{
    min-height: 350px;
    background-image: url("/images/Boschetto.jpg");
    background-position: center;
    background-size: cover;
}

/* SEZIONE PRODOTTI */

#bodycontent{
    background-color: #F4F3EE;
}

#prodotti{
    background-color:#F4F3EE;
    min-height: 600px;
    padding: 40px 100px;
}

#prodotti div:first-child{
    background-image: url("/images/ColosseoInterno.svg");
    background-position: center;
    background-size: cover;
    position: relative;
    transition: .3s;
    min-height: 200px;
}

#prodotti div:first-child::before{
    opacity: 0;
    position: absolute;
    content:"Prodotto 1";
    top: 42%; 
    font-size: 50px;
    left: 37%;
    background-color: #463F3A;
    padding: 10px;
    color: #F4F3EE;
}

#prodotti div:first-child:hover{
 opacity: .7;   
}

#prodotti div:first-child:hover::before{
    animation-name:fade;
    animation-duration: .3s;
    animation-direction:normal;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

#prodotti div:last-child{
    background-color: #BCB8B1;
    color:#463F3A;
    padding: 40px;
}

#prodotti div:last-child h3{
    color: #F4F3EE;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 60px;
}

#prodotti div:last-child p{
    font-size: 22px;
    text-align: justify;
}

@keyframes fade{
    0%{opacity: 0;}

    50%{opacity: .5;}

    100%{opacity: 1;}
}

#spazio{
    background-color: #F4F3EE;
    min-height: 80px;
}

/* CHI SIAMO */

#chisiamo{
    padding: 30px;
    background-color: #463F3A;
}